* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0748fa;
    --secondary-color: #61594d;
    --tertiary-color: #272424d5;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: var(--tertiary-color);
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {

    margin: 7px 0;
    

}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

header nav ul li a:hover {
    background: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* footer section */
footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);    
}

section {
    padding: 60px;
}
/* footer end */

.about, .project, .contact  {
    margin: 20px;
    border-bottom: solid var(--primary-color);
}

/* about section */
.me {
    height: 200px;
}


/* about section end */

/* projects */
.project, h2 {

}

.imag , .image2 {
display: flex;
 flex: inherit;
 justify-content: space-between;  
 height: 250px;
}

.pic {
  width: 100%;
  height: 500px;
  background-image: url(./assets/css/images/hero-bg.jpg);
  


}

/* projects end */

/* contact info */
 .contact2 {
    display: flex;
    flex: inherit;
    justify-content: space-between;
    
 }

 .contact2, p {
     font-weight: bold;
 }
/* contact info end */
@media  screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header  {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header  {
        font-size: 20px;
    }

    header :hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
    }



    .project, .imag {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }

    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}

@media screen and (max-width: 100px) {
    
    .header {
        width: 100%;
        border-radius: 10px;
    }

    .hero-form button:hover {
        background-color: var(--tertiary-color);
    }

    .about, .project {
        width: 95%;
    }

    .contact2, .about .project {
        width: 100%;
    }

    .project {
        flex: 0 100%;
    }

    .contact2, .about .project {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}
